<div class="mainContainer">
    <div class="leftContainer">
        <h1>Welcome To All Visiters</h1>
        <p>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam distinctio velit culpa aut. 
           Aliquam, provident. Iste inventore ex iusto omnis labore a modi totam quo odio neque. 
           In, deleniti suscipit.
        </p>
    </div>
    <div class="rightContainer">
        <div  id="slider">
            
            <img src="../assets/home.png" alt="">
            
        </div>
    </div>
</div>
