<div class="mainContainer">
    <div class="card lg:card-side bg-base-100 shadow-xl">
        <figure><img src="../assets/about.png" alt="Album" class="h-96 p-5"/></figure>
        <div class="card-body">
          <h2 class="item-center font-bold text-xl">My Details</h2>
          <h4 class="text-left"><span class="font-bold">Name:</span> Alok Pandey</h4>
          <h4 class="text-left"><span class="font-bold">Belongings:</span> Amirsa,amirsa,chai,kaushambi,Uttar Pradesh</h4>
          <h4 class="text-left"><span class="font-bold">Qualification:</span> B.Tech from IT branch</h4>
          <h4 class="text-left"><span class="font-bold">Profile:</span> Full stack developer</h4>
          <h4 class="text-left"><span class="font-bold">Experiance:</span> 0 Year</h4>
          <h4 class="text-left"><span class="font-bold">Mobile: </span>6386561331</h4>
          <div class="card-actions justify-end">
            <button class="btn btn-primary text-white">Thank You</button>
          </div>
        </div>
      </div>
</div>