<nav >

    <div class="logo1">
        <img src="../assets/logo.png" alt="">
        <h1>LoGo</h1>
    </div>
    <div class="liContainer">
        <ul>
            <li >
                <a routerLink="home">Home</a>
            </li>
            <li>
                <a routerLink="about">About</a>
            </li>
            <li>
                <a routerLink="contact">Contact</a>
            </li>
            <li>
                <a routerLink="blog">Blogs</a>
            </li>
        </ul>
    </div>
    
</nav>
